.nav.nav-index
  .nav-small
    a.nav-logo href="/"
      img src="/assets/logo/savepass-white.png"
    ul.nav-list
      /li.nav-list-item
        /a.nav-list-link href="#about"  О сервисе
      li.nav-list-item
        a.nav-list-link href="https://chrome.google.com/webstore/detail/savepass/nohkcfoeciegacbdcdohjjjahejjighp?utm_source=chrome-ntp-icon" target="_blink"  Chrome Расширение 
      - if !user_signed_in?
        li.nav-list-item
          a.nav-list-link.js-register= link_to 'Зарегистрироваться', new_user_registration_path
      li.nav-list-item.not_mobile
      - if user_signed_in?
          li.nav-list-item.not_mobile
            a.nav-list-link =link_to 'Выйти', destroy_user_session_path, :method => :delete
      -  else 
          li.nav-list-item.not_mobile
            a.nav-list-link =link_to 'Войти', new_user_session_path
.wrapper
  .intro
    //.intro-right_bg.not_mobile
    .intro-inform
      .intro-header.clear
        .intro-text
          h1 
            /| Упростите свою жизнь.
            | Сделайте жизнь проще
            br 
            | Храните пароли без проблем
          p 
        .intro-btn-sign
          a = link_to new_user_registration_path
            .btn
              p 
                | Начать бесплатно
    .animation_container
      .browser_menu
        .items_menu
          .one.cursor
          .two.cursor
          .three.cursor
  .about#about
    h1 О сервисе
  
