
.form-register.new-user
  h1 Регистрация
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      label.form-label Email
      = f.input :email, label: false, required: true, autofocus: true
      label.form-label Пароль
      = f.input :password, label: false, required: true
      label.form-label Повторите пароль
      = f.input :password_confirmation, label: false, required: true
    .form-actions
      = f.button :submit, "Зарегистрироваться"
  .sign-in
    p 
      | У вас уже есть аккаунт?
      a =link_to 'Войти', new_user_session_path
