.site-content-grid
  .area
    .row
      - @storages.each do |x| 
        - if x.user_id == current_user.id
          .col-lg-3.col-md-4.col-sm-6.col-xs-6.pd.cur_item data-item_id=x.id data-item_favourite=x.favourite
            .site-item
              .site-settings
                /label.form-label.check
                  /input type="checkbox" /
                  /span.label-text
                .btn-settings
                  /-if x.favourite == "false"
                  /  i.star.fa.fa-star-o
                  /- else 
                  /  i.star.fa.fa-star
                  /i.edit.fa.fa-edit 
                  i.del.fa.fa-trash
              .site-img
                -if File.exist?("/home/samoht/savepass/app/assets/images/logo-site/#{strip_url(x.url)}.svg")
                  img src="/assets/logo-site/#{strip_url(x.url)}.svg"
                -else 
                  img src=x.logo
              .site-name-and-login
                h4.url =x.name
                h5.mail 
                  a =link_to "#{x.url}", :target => "_blank"
                    =x.url
              a.btn-more.copy-login
                | Скопировать логин  
              a.btn-more.copy-pass
                | Скопировать пароль
              p.hover-login = x.decoderlogin
              p.hover-pass = x.decoderpassword
      .col-lg-3.col-md-4.col-sm-6.col-xs-6.pd.afterrgrid
        .site-item.add-content
          .site-round
            .btn-add-content
              i.add.fa.fa-plus
          .site-name-and-login
