.site-content-list
  .area
    .row
      ul
        - @storages.each do |x| 
          - if x.user_id == current_user.id
          .all-item.cur_item-list data-item_id=x.id 
            .col-lg-1.col-md-1.col-sm-1.col-xs-1
              .site-img
                -if File.exist?("/home/samoht/savepass/app/assets/images/logo-site/#{strip_url(x.url)}.svg")
                  img src="/assets/logo-site/#{strip_url(x.url)}.svg"
                -else 
                  img src=x.logo
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              li.list
                .details
                  h3 =x.name
                .btn-settings
                  /i.star.fa.fa-star-o
                  /i.edit.fa.fa-edit
                  i.del.fa.fa-trash
                  a.url href=""
                    =x.url
            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                span 
                  p =x.created_at.strftime("%m/%d/%Y")
                  label.form-label.check
                    input type="checkbox"
                    span.label-text
