.form-editer
  h1 Настройки профиля
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, label: false, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        p
          | Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, label: false, autocomplete: "off", hint: false, required: false
      = f.input :password_confirmation, label: false, required: false
      = f.input :current_password, label: false, hint: "we need your current password to confirm your changes", required: true
    .form-actions
      = f.button :submit, "Update"
  h3 Cancel my account
  p
    | Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
