.notification
  .success-text
    - if current_user && current_user.storages.last != nil
      h2
        i.fa.fa-check
        | Сайт  
        span= current_user.storages.last.url
        |   добавлен 
