.nav-profile
  .area
    .row
      .col-xs-4.col-sm-6.col-md-6
        .logo
          a.nav-logo href="/"
            img src="/assets/logo/savepass-white.png"
      .col-xs-8.col-sm-6.col-md-6
        .profile-inform.clear
          p.user-email
            = current_user.email
          .img-profile
          i.fa.fa-angle-down
          .menuList 
            ul
              li 
                a.nav-list-link =link_to 'Настройки профиля', users_settings_path
              li 
                a.nav-list-link =link_to 'Выйти', destroy_user_session_path, :method => :delete
