-if @storages.first != nil
  .statistics 
    .area
      .row
        .col-xs-4
          .round 
            h2=@storages.size
          p всего
        .col-xs-4
          .round 
            h2=new_for_week(@storages)
          p новых за неделю
        .col-xs-4
          .round 
            h2=new_for_day
          p новых за день
