//=render "editprofile"
=render "addform"
=render "notification"
//-if !current_user.auth 
  =render "auth"
.profile
  =render "profileset"
  .bar-profile  
    .area
      .row
        .col-lg-10.col-xs-8.col-sm-8.col-md-10
          .wrapper
            .icon-search-container data="search-trigger" 
              span.fa.fa-search
              input.search-input data="search-input" placeholder="Поиск" type="text" /
              span.fa.fa-times-circle data="search-clear" 

        .col-lg-2.col-xs-4.col-sm-4.col-md-2
          .grid-or-list
            i.fa.fa-th.grid
            i.fa.fa-list.list
  .btn-add
    i.add.fa.fa-plus
  =render "statistics"
  =render "contentgrid"
  =render "contentlist"
