=render "profileset"
.settings    
  .title-email
    h1 Настройки
  .area.edit-profile
    .row
      .col-xs-6
        .edit-fio
          h2.fio =current_user.email
          .btn 
            | Редактировать
      .col-xs-6
        .edit-photo
          img src= current_user.storages.last.logo
  span.heading-title Настройки email
  .email-settings
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Ваш email
          h4.light = current_user.email
        .col-xs-6
          p Редактировать
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Подписка на рассылку
          p.other-text Контроль электронных писем, которые мы посылаем вам.
        .col-xs-6
          p Редактировать
  .title-security
    span.heading-title Безопасность
  .security-settings
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Изменить пароль

        .col-xs-6
          p Изменить
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Выйти из всех остальных сеансов
        .col-xs-6
          p Выйти
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Деактивировать аккаунт
          p.other-text
            | Отключение учетной записи будут удалены из среды в течение нескольких минут. Вы можете снова войти в любое время, чтобы активировать свою учетную запись и восстановить его содержимое.
        .col-xs-6
          p Деактивировать
    .area
      .row
        .col-xs-6
          h2.list-itemTitle Удалить аккаунт
          p.other-text 
            | Полностью удалить учетную запись и все содержимое.
        .col-xs-6
          p Удалить
    .area
      .row
        .col-xs-6
          h2.list-itemTitle История активности
          p.other-text =current_user.last_sign_in_at.strftime("%d/%m/%y в %I:%M%p") 
          p.other-text =current_user.last_sign_in_ip
        .col-xs-6
          p Показать историю активности
  
