.form-register.new-user
  h1 Войти
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      label.form-label Email
      = f.input :email, label: false, required: true, autofocus: true
      label.form-label Пароль
      = f.input :password, label: false, required: true
      = f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable?
      label.check-label Оставаться в системе
    .form-actions
      = f.button :submit, "Войти"
  .sign-in
    p
      | Еще не зарегистрированы? 
      a =link_to 'Получить аккаунт', new_user_registration_path
