//FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,700,900&subset=latin,cyrillic-ext);
@import "grid";
$font-nav: "Roboto";

//COLORS
$white:         #fff;
$black:         #000;
$royalblue:     #37f;     //bg
$royalblue-btn: #37f;     //btn
$turquoise:     #27d0a9;  //btn
$darkslateblue: #4ce;     //bg
$lightseagreen: #2ED8B1;  //btn
$darkslategray: #456;     //body

//FIX
//Для очистки Float
.clear:before,
.clear:after  {
    content: " ";
    display: table;
  }
.clear:after {
  clear: both;
}

input:focus, a:focus {
  outline: 0;
}

.btn,
select,
label[for],
a[href],
input[type='submit'],
input[type='image'], {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  display: block;
}

.pd {
  padding: 0 20px 15px 20px;
}

//CSS
* {
  font-family: "Roboto";
  font-weight: normal;
}
html{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $white;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  font: $font-nav;
}
//NAV
.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  height: 80px;
  overflow: visible;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  .nav-small {
    width: 70%;
    margin: auto;
    .nav-logo {
      padding-right: 10px;
      float: left;
      margin-top: 26px;
      z-index: 3;
      img {
        height: 50px;
      }
    }
    .nav-list,
    .nav-logo {
      font-size: 12px;
      font: $font-nav;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      //display: inline-block;
      position: relative;
      top: 0px;
      left: 0px;
      .nav-list-item {
        display: inline-block;
        .nav-list-link,
        a {
          text-decoration: none;
          color: $white;
          opacity: .75;
          padding: 18px 6px;
          display: block;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
//WRAPPER
.wrapper {
  padding: 0;
  .intro {
    //background-color: $darkslateblue;
    background: url("/assets/bg.jpg");
    //background: linear-gradient(-90deg,#3FA8B0 0,#1CB197 100%);
    height: 90vh;
    max-height: 888px;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    /*.intro-right_bg {
      position: absolute;
      left: 55%;
      width: 2000px;
      top: 0;
      bottom: 0;
      background-color: $darkslateblue;
    }
    */
    .intro-inform {
      position: relative;
      .intro-header {
        width: 90%;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 60px;
        .intro-text {
          width: 85%;
          margin: auto;
          text-align: center;;
          h1 {
            //font-size: 48px;
            line-height: 1.5;
            letter-spacing: -1px;
            font-weight: 100;
            color: $white;
            margin-bottom: 20px;
          }
        }
        .intro-btn-sign {
          width: 300px;
          margin: auto;;
          //float: left;
          margin-top: 34px;
          cursor: pointer;
          transition: 0.5s;
          .btn {
            position: relative;
            margin-top: 20px;
            color: $white;
            border-radius: 30px;
            background: $royalblue-btn;
            box-shadow: 0 2px 8px rgba(0,0,0,.16);
            -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.16);
            -moz-box-shadow: 0 2px 8px rgba(0,0,0,.16);
            display: inline-block;
            width: 90%;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            text-decoration: none;
            //display: inline-block;
            //float: left;
            border: 0;
            padding: 10px;
            text-align: center;
            outline: none;
          }
          h5 {
            position: relative;
            top: 10px;
            left: 15px;
            font-size: 14px;
            color: $white;
            opacity: 0.3  ;
            z-index: 1;
          }
          &:hover {
            .btn {
              opacity: 0.8;
              //box-shadow: 0 6px 18px rgba(0,0,0,.36);
              //-webkit-box-shadow: 0 6px 18px rgba(0,0,0,.36);
              //-moz-box-shadow: 0 6px 18px rgba(0,0,0,.36);
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.animation_container {
    position: absolute;
    $b_width: 55%;
    width: $b_width;
    height: 45%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -100%;
    //background: #4cc;
    background: url("/assets/savepass.gif");
    background-size: cover;
    background-position: 0px 34px;
    //bottom: -70px;
    $b_border_radius: 8px;
    border-radius: $b_border_radius;
    z-index: 200;
    -webkit-box-shadow: 0px 0px 161px -22px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 161px -22px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 161px -22px rgba(0,0,0,0.72);
    .browser_menu {
      width: 100%;
      height: 35px;
      margin: auto;
      background: #fff;
      border-radius: $b_border_radius $b_border_radius 0 0;
      .items_menu {
        height: 35px;
        margin-left: 12px;
        .one,
        .two,
        .three {
          width: 13px;
          height: 13px;
          margin: 12px 4px;
          background: red;
          float: left;
          border-radius: 50%;
        }
        .one {
          background: #f55;
        }
        .two {
          background: #fc4;
        }
        .three {
          background: #3c5;
        }
      }
    }
}


//ABOUT
.about {
  display: none;
  position: relative;
  top: 90vh;
  overflow: visible;
  height: 2000px;
  width: 100%;
  background: #434F66;
  z-index: 2;
  text-align: center;
  color: $white;
  padding: 30px 0;
}


//DEVISE FORM
//REGISTER AND LOGIN
.form-edit {
  height: 440px;
}
.form-register {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 420px;
  padding: 25px 30px 18px;
  background-color: #FFF;
  border-radius: 4px;
  font-size: 14px;
  color: #9F9F9F;
  -webkit-box-shadow: 1px 1px 33px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 33px 5px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 33px 5px rgba(0,0,0,0.75);
  &:not(.form-edit) {
    height: 360px;
  }
  h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 20px 0;
    color: $black;
    font-weight: 200;
  }
  input:not(.button){
    position: relative;
    width: 360px;
    height: 30px;
    margin-bottom: 10px;
  }
  input[type='checkbox'] {
    width: auto;
    margin: 0;
  }
  .form-label {
    display: block;
    margin-bottom: 2px;
  }
  .check-label {
    position: relative;
    top: -8px;
  }
  .button {
    background: $royalblue;
    margin-top: 10px;
    padding: 10px 28px;
    color: $white;
    border: 0;
    display: inline-block;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: 0!important;
  }
  .sign-in {
    padding: 10px;
    text-align: center;
    a {
      padding-left: 5px;
    }
  }
}



//PROFILE
$nav-profile: #123;
.profile {
}
.nav-profile {
  height: 60px;
  background: $nav-profile;
  .logo {
    //width: 20%;
    float: left;
    img {
      padding: 2px;
      height: 50px;
      margin: auto;
    }
  }
  .profile-inform {
    position: relative;
    float: right;
    color: $white;
    padding: 0 10px;
    .user-email {
      float: left;
      font-size: 15px;
      opacity: 0.6;
      line-height: 30px;
      margin-right: 5px;
    }
    .img-profile {
      float: left;
      width: 40px;
      height: 40px;
      background: url("/assets/Profile.png");
      background-size: cover;
      border-radius: 50%;
      right: 20px;
      margin: 10px;
    }
    i {
      float: left;
      margin-top: 24px;
    }
    &:hover {
      background: rgba(255,255,255,.3);
      cursor: pointer;
    }
    .menuList {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      font-size: 14px;
      text-align: left;
      background: $white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      padding: 10px;
      z-index: 10;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        line-height: 24px;
      }
    }
  }
}
.bar-profile {
  width: 100%;
  background: $white;
  height: 60px;
  //background: #999;
  .wrapper {
    text-align: left;
    margin: 10px 40px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .icon-search-container {
    display: inline-block;
    border: 2px solid $royalblue;
    border-radius: 50px;
    height: 41px;
    width: 41px;
    position: relative;
    transition: width 0.4s ease-out;
    backface-visibility: hidden;

    &.active {
      width: 100%;

      .fa-times-circle {
        opacity: 1;
      }
      .search-input {
        width: 200px;
      }
    }

  .fa-search {
      color: $royalblue;
      font-size: 20px;
      position: absolute;
      top: 7px;
      left: 8px;
      cursor: pointer;
    }
    .fa-times-circle {
      opacity: 0;
      color: $royalblue;
      font-size: 20px;
      position: absolute;
      top: 8px;
      right: 8px;
      transition: opacity 0.4s ease-out;
      cursor: pointer;
    }

    .search-input {
      position: absolute;
      cursor: default;
      left: 45px;
      top: 6px;
      width: 0;
      padding: 3px;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 20px;
      background-color: rgba(255, 255, 255, 0);
      transition: width 0.4s ease-out;
    }

  }
  .grid-or-list {
    text-align: right;
    margin-right: 30px;
    .grid {
      opacity: 1;
    }
    .list {
      opacity: 0.5;
    }
    > i {
      font-size: 30px;
      color: $royalblue;
      padding-right: 20px;
      line-height: 60px;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
.site-content-list {
  display: none;
  .row {
    width: 90%;
    margin: auto;
  }
  .site-img {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    bottom: 0;
    text-align: center;
    margin: auto;
    img {
      margin-top: 25px;
    }
  }
  width: 100%;
  background: $white;
  padding: 30px 0;
  .list {
    padding: 20px 0 18px 25px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    .details {
      display: inline-block;
      h3 {
        font-size: 18px;
        font-weight: 400;
        margin: -2px 0 0 0;
      }
    }
    .btn-settings {
      clear: left;
      i {
        margin: 10px 15px 10px 0;
        color: $royalblue;
        font-size: 18px;
        cursor: pointer;
      }
      .url {
        font-size: 14px;
      }
    }
  }
  span {
    float: right;
    margin-right: 10px;
    p {
      float: left;
      margin-right: 15px;
      font-size: 12px;
      line-height: 77px;
    }
    .check {
      float: left;
      line-height: 100px;
    }
  }
}
.site-content-grid {
  display: block;
  background: $white;
  padding: 30px 0;
  text-align: center;
  .site-settings {
    opacity: 0.4;
    height: 30px;
    transition: .5s;
    .check {
      float: left;
      margin-left: 10px;
      margin-top: 3px;
    }
    .btn-settings {
      float: right;
      .star,
      .edit,
      .del {
        padding: 5px 10px;
        color: $royalblue;
        font-size: 18px;
      }
    }
  }
  .site-item {
    margin: 0 0 60px 0;
    padding: 15px;
    //height: 320px;
    height: 375px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    &:hover {
      -webkit-box-shadow: 0px 15px 24px -4px rgba(153,153,153,1);
-moz-box-shadow: 0px 15px 24px -4px rgba(153,153,153,1);
box-shadow: 0px 15px 24px -4px rgba(153,153,153,1);
      transition: 0.5s;
    }
    .site-img {
      height: 120px;
      width: 80%;
      margin: auto;
      img {
        padding: 20px 0;
        height: 100%;
        margin: auto;
      }
    }
    .site-name-and-login {
      text-align: center;
      > .url {
        font-weight: 600;
      }
      > .mail {
        font-weight: 300;
        opacity: .5;
        > a {
          color: #000;
          &:hover {
            color: $royalblue;
          }
        }
      }
    }
    .btn-more {
      position: relative;
      top: 8px;
      padding: 10px 25px;
      background: $royalblue;
      border-radius: 60px;
      color: $white;
      transition: .3;
      &:hover {
        transition: .3;
        opacity: 0.8;
      }
    }
    .copy-pass {
      top: 40px;
      padding: 10px 20px;
    }
    .hover-login,
    .hover-pass {
      display: none;
    }
  }
}

.btn-add {
  background: $royalblue;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  z-index: 15;
  -webkit-animation: pulsate 1.5s ease-out;
  .add {
    font-size: 20px;
    color: $white;
    color: #fff;
    line-height: 65px;
    transition: .3s;
  }
  &:hover {
    cursor: pointer;
    .add {
      font-size: 25px;
      transition: .3s;
    }
  }
}

.add-content {
   height: 260px;
  .site-round {
    background: $royalblue;
    opacity: 0.5;
    //position: absolute;
    margin: auto;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    margin-top: 40%;
    .add {
      font-size: 20px;
      color: $white;
      color: #fff;
      line-height: 65px;
      transition: .3s;
    }
  }
  &:hover {
    .site-round {
      opacity: 1;
      transition: .3s;
      .add {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}

//FORM ADD SITES
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: #000;
  opacity: 0.4;
}


.form-add {
  display: none;
  position: fixed;
  //OLD width: 900px;
  //OLD height: 620px;
  width: 700px;
  height: 530px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: $white;
  z-index: 10;
  .form-add-header {
    background: $royalblue;
    height: 60px;
    .area {
      width: 100%;
    }
    p {
      line-height: 30px;
      color: $white;
      text-align: center;
    }
    .logo {
      //width: 20%;
      margin: auto;
      img {
        //padding: 2px;
        height: 50px;
        margin: auto;
      }
    }
    .close-size {
      text-align: right;
      > i {
        line-height: 60px;
        padding: 0 20px;
        font-size: 25px;
        color: $white;
        &:hover {
          background: #000;
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
  .form-input {
    padding: 30px 100px;
    input {
      margin: auto;
      border: 1px solid rgba(0,0,0,0.2);
    }
    textarea {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 100%;

    }
  }
  label {
    position: relative;
    bottom: 5px !important;
  }
  input:not(.button){
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $royalblue;
    margin-top: 10px;
    padding: 20px 28px;
    color: $white;
    font-size: 18px;
    border: 0;
    display: inline-block;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: 0!important;
    &:hover {
      opacity: 0.9;
    }
  }
}

/*SETTINGS BTN*/
/* Checkbox */
.form-label {
  cursor: pointer;
  color: $royalblue;
}

.form-label > .label-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-label > input[type="checkbox"] {
  display: none;
}

.form-label > input[type="checkbox"] + .label-text:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

/* Checkbox */
.form-label > input[type="checkbox"] + .label-text:before { content: "\f096"; }
.form-label > input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  color: $royalblue;
  -webkit-animation: tick .2s ease-in-out;
          animation: tick .2s ease-in-out;
}

.btn-settings  i:active {
  -webkit-animation: tick .2s ease-in-out;
          animation: tick .2s ease-in-out;
}

/* Keyframes */
@-webkit-keyframes tick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes tick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



/*statistics*/
.statistics {
  background: rgba(0,0,0,.11);
  padding: 5px;
  .round {
    height: 75px;
    width: 75px;
    background: $royalblue;
    margin: auto;
    border-radius: 50%;
    h2 {
      line-height: 75px;
      font-size: 2.2em;
      color: $white;
      font-weight: 100;
      text-align: center;
    }
  }
  p {
    color: $royalblue;
    text-align: center;
    opacity: 0.7;
    font-size: .85em;
    text-transform: uppercase;
  }
}
/*notification*/
.notification {
  position: fixed;
  bottom: -60px;
  height: 60px;
  width: 100%;
  background: $darkslategray;
  z-index: 20;
  opacity: 0;
  .success-text {
    text-align: center;
    color: $white;
    line-height: 60px;
    h2 {
      margin: 0;
    }
    i {
      margin-right: 15px;
    }
  }
}


//Settings
.settings {
  width: 700px;
  margin: 0 auto;
  color: rgba(0,0,0,.8);
  padding: 50px 0;
  .edit-profile {
    margin: 10px 0 60px 0;
  }
  .edit-fio {
    h2 {
      font-size: 32px;
      font-weight: bold;

      margin-bottom: 4px;
    }
  }
  .edit-photo {
    img {
      height: 120px;
      width: 120px;
    }
  }
  .title-security {
    margin: 70px 0 10px 0;
  }
  h1 {
    font-size: 44px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
  .list-itemTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .light {
    margin-top: 2px;
  }
  .other-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,.4);
    width: 80%;
    margin: 4px 0;
  }
  .heading-title {
    color: rgba(0,0,0,.6);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
  }
}


//MOBILE
@media (max-width: 1100px){
  .animation_container {
    display: none;
  }
}
@media (max-height: 770px) {
  .animation_container {
    display: none;
  }
}
