doctype html
html
  head
    title
      | SavePass
    meta charset="utf-8"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body#page-top data-spy="scroll" data-target=".navbar-custom"
    = yield
    
